@model IEnumerable<Maintenance>

<h2>Maintenance</h2>
<table class="table">
    <tr>
        <th>Vacuumed</th>
        <th>Brushed</th>
        <th>Skimmed</th>
        <th>Backwashed</th>
        <th>AddedWater</th>
        <th>PoolName</th>
        <th>PoolID</th>
    </tr>

    @foreach (var maintenance in @Model)
    {
        <tr>
            <td>@maintenance.Vacuumed</td>
            <td>@maintenance.Brushed</td>
            <td>@maintenance.Skimmed</td>
            <td>@maintenance.Backwashed</td>
            <td>@maintenance.AddedWater</td>
            <td>@maintenance.PoolName</td>
            <td>@maintenance.PoolID</td>
        </tr>
    }

</table>